<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando conhecimento" cor="#B2E7E8">
<app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipe Customizado" cor="#BFB9AA">
<app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two Way Data Biding" cor="#F2D096">
<app-two-way-data-biding></app-two-way-data-biding>
</app-card>

<app-card titulo="Renderizando listas" cor="#ED8975">
<app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Sobrenome personalizado" cor="#FFE3DC">
<app-componente-personalizado nome="Jão" sobrenome="Da Sirva"></app-componente-personalizado>
</app-card>

<app-card titulo="Sobrenome personalizado" cor="#A2AD91">
<app-componente-personalizado nome="Maria" sobrenome="Albucaci"></app-componente-personalizado>
</app-card>

<app-card titulo="Componente Pai , filho e servicos" cor="#3A2D32">
<app-componente-pai></app-componente-pai>
<app-componente-servicos></app-componente-servicos>
<app-servicoex2></app-servicoex2>
</app-card>

<app-card titulo="Ciclo de vida pai e filho" cor="#9AFF9A">
<app-ciclo-de-vida></app-ciclo-de-vida>
<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>